
body {
  background: rgb(204,204,204); 
}



button {
    font-size: 20px;
}

input, textarea {
    border: 0px;
    resize: none;
}


.full {
    width: 100%;
    height: 100%;
}

.box {
    width: 40px;
    height: 20px;
    background-color: lightgray;
}
.print-button {
    position: fixed;
    top:10px;
    right: 70px;
}

.page {
    position: relative;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

  background-repeat: no-repeat;

    background-position-y: 0.7cm;
    background-position-x: 0.7cm;

    height: 29.7cm; 
    width: 21cm;
}

.page-break {
  page-break-after: always;
}


#ime_prezime {
    position: absolute;
    top: 1px;
    left: 100px;
}

#page1 {
    background-image: url('../images/page1.png');
    background-size : 19.5cm 28.2cm;
    background-position-y: 8mm;
    background-position-x: 10mm;

}

#page2 {
    background-image: url('../images/page2.png');
    background-size : 19.5cm 28.2cm;
    padding-top: 2mm;
    background-position-x: 10mm;
}

.inp {
    position: absolute;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: 0;
    font-family: serif;
}


.t-right {
    text-align: right;
}

.t-left {
    text-align: left;
}

.f-small {
    font-size: 17px;
}

#i1 {
    bottom: 965px;
    left: 77px;
    width: 646px;
}


.r2 {
    bottom: 916px;
}

#i2 {
    left: 95px;
    width: 228px;
}

#i3 {
    left: 541px;
    width: 86px;
}

#i4 {
    left: 666px;
    width: 25px;
}

.r3 {
    bottom: 22cm;
}

#i5 {
    left: 335px;
    width: 153px;
}






.r4 {
    bottom: 21cm;
}

#i6 {
    left: 132px;
    width: 524px;
    font-weight: bold;
}




.r5 {
    bottom: 754px;
}

#i7 {
    left: 177px;
    width: 246px;
}

#i8 {
    left: 510px;
    width: 139px;
}



.r6 {
    bottom: 19.4cm;
}
#i9 {
    left: 133px;
    width: 226px;
}
#i10 {
    left: 450px;
    width: 246px;
}




.r7 {
    bottom: 18.9cm;
}
#i11 {
    left: 139px;
    width: 226px;
}
#i12 {
    left: 487px;
    width: 221px;
}



.r8 {
    bottom: 18.4cm;
}
#i13 {
    left: 195px;
    width: 20px;
}
#i14 {
    left: 239px;
    width: 20px;
}
#i15 {
    left: 333px;
    width: 121px;
}
#i16 {
    left: 556px;
    width: 152px;
}

.r9 {
    top: 512px;
}

#i17 {
    left: 101px;
    width: 594px;
    height: 524px;
    border: 0;
}


.r10 {
    top: 73px;
}

#i18 {
    left: 101px;
    width: 594px;
    height: 432px;
    border: 0;
}




.r11 {
    bottom: 14.2cm;
}

#i19 {
    left: 13.6cm;
    width: 2.9cm;
}



.r12 {
    bottom: 12.4cm;
}
#i20 {
    left: 3.3cm;
    width: 5cm;
}
#i21 {
    left: 9cm;
    width: 2.5cm;
}
#i22 {
    left: 12.1cm;
    width: 0.5cm;
}
#i23 {
    left: 17.3cm;
    width: 2cm;
}




.r13 {
    bottom: 10.1cm;
}
#i24 {
    left: 0.8cm;
    width: 9.4cm;
}





.r14 {
    bottom: 4.6cm;
}
#i25 {
    left: 9.7cm;
    width: 2cm;
}
#i26 {
    left: 12.8cm;
    width: 5.3cm;
}



.r15 {
    bottom: 3.7cm;
}
#i27 {
    left: 2.3cm;
    width: 17cm;
}