body, .page {
    margin: 0;
    box-shadow: 0;
}

html, body {
    width: 210mm;
    height: 297mm;
}

textarea {
    resize: none;
}

button {
    display: none;
}

@page {
    size: a4;
    margin: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}